<footer>
	<small>&copy; 2021 Jaume Fuster i Claris - All content on this page is released under the GNU Affero General Public License, either version 3 or later.</small>
	<p>
		<a href="/static/doc/privacy-policy.pdf">Privacy Policy</a>
		<a href="/static/doc/code-of-conduct.pdf">Code of Conduct</a>
		<a href="https://gitlab.com/gnucat" target="_blank">Source Code</a>
	</p>
</footer>
