<header>
	<h1><small>/dev/tcp/</small>GNU.CAT<small>/80</small></h1>
	<nav>
		<a href="/"><img src="/img/icons/home.png"> Home</a>
		<a href="/data"><img src="/img/icons/data.png"> My Data</a>
		<a href="/text"><img src="/img/icons/text.png"> Text Upload</a>
		<a href="/file"><img src="/img/icons/file.png">File Upload</a>
		<a href="/static/error/404.html"><img src="/img/icons/no.svg">Static Page</a>
		<a href="/static/error/404.html"><img src="/img/icons/no.svg">Web Archive</a>
		<a href="/static/error/404.html"><img src="/img/icons/no.svg">Url Shortener</a>
		<a href="/static/error/404.html"><img src="/img/icons/no.svg">Forum</a>
		<a href="/contact"><img src="/img/icons/contact.png">Contact</a>
	</nav>
</header>
<div id="deadpixeltroll"></div>
