<h3>File Upload</h3>

<pre>
FILE(3)                          User Utilities                        FILE(3)

<b>NAME</b>
       file - upload files to gnu.cat

<b>SYNOPSIS</b>
       curl [-s] -F "file=<u>@/tmp/foo.png</u>" [-F "extension="]
       [-F "selfdestruct=<u>time</u>"] [-F "password=<u>password</u>"]
       [-F "auth=<u>user</u>:<u>password</u>"] https://gnu.cat/file

<b>DESCRIPTION</b>
       Uploads files online using the file tool from the GNUCAT project
       located at gnu.cat. If using authentication, the files are stored and
       accesible for the user to be redownloaded or deleted.

       <b>-F "file=<u>@/tmp/foo.png</u>"</b>
              This is the file you are uploading.

       <b>-F "extension="</b>
              If this is active, it will output the file extension on the URL.

       <b>-F "selfdestruct=<u>time</u>"</b>
              Marks the file to be permanently removed from the server when
              the server location (GMT) reaches <u>time</u>, <u>time</u> is in english
              date format such as "2021-07-04 13:37" or you can use a string
              such as "+1 week" to delete the file in 1 week. To check <u>time</u>
              format, please refer to:
              &lt;https://www.php.net/manual/en/function.strtotime.php&gt;.

       <b>-F "password=<u>password</u>"</b>
              Sets the password for the file, this protects the download of it
              from users without the password.

       <b>-F "auth=<u>user</u>:<u>password</u>"</b>
              Sets the password for the file, this protects the download of it
              from users without the password.

<b>AUTHOR</b>
       Written by Jaume Fuster i Claris &lt;capuno@gnu.cat&gt;.

<b>REPORTING BUGS</b>
       GNUCAT coreutils contact: &lt;https://www.gnu.cat/contact&gt;
       Git repository &lt;https://gitlab.com/gnucat/gnucat&gt;

<b>COPYRIGHT</b>
       Copyright © 2021 Jaume Fuster i Claris           License  AGPLv3+:  GNU
       AGPL version 3 or later &lt;https://gnu.org/licenses/agpl.html&gt;.
       This  is  free  software:  you  are free to change and redistribute it.
       There is NO WARRANTY, to the extent permitted by law.

GNUCAT coreutils 1.00                July 2021                         FILE(3)
</pre>

<h3>Example Scripts</h3>

<pre>
#!/bin/bash
# Screenshot script as anonymous client for GNUCAT File

gnome-screenshot -af /tmp/foo.png
curl -s -F "file=@/tmp/foo.png" -F "extension=" https://gnu.cat/file \
    | xclip -selection clipboard</pre>

			<pre>
#!/bin/bash
# Uploads a selfdestructable file ($1) with optional password ($2)
# while being authenticated.

if [ ! -f $1 ]; then
    echo "File doesn't exist!"
    exit 1
fi

unset password
if [ $2 ]; then
    password="-F 'password=$2'"
fi

curl -s \
    -F "file=@$1" \
    -F "selfdestruct=+1 day" \
    $password \
    -F "auth=capuno:coolpassword123" \
    https://gnu.cat/file
</pre>