<h3>Text Upload</h3>

<pre>
TEXT(3)                          User Utilities                        TEXT(3)

<b>NAME</b>
       text - upload text to gnu.cat

<b>SYNOPSIS</b>
       curl [-s] -F "file=<u>@/tmp/foo.png</u>" [-F "extension="]
       [-F "selfdestruct=<u>time</u>"] [-F "password=<u>password</u>"]
       [-F "auth=<u>user</u>:<u>password</u>"] https://gnu.cat/file

<b>DESCRIPTION</b>
       Uploads text online using the text tool from the GNUCAT project located
       at gnu.cat. If using authentication, the text is stored and accesible
       for the user to be redownloaded, edited or deleted.

       <b>-F "file=<u>@/tmp/foo.png</u>"</b>
              This is the file you are uploading.

<b>AUTHOR</b>
       Written by Jaume Fuster i Claris &lt;capuno@gnu.cat&gt;.

<b>REPORTING BUGS</b>
       GNUCAT coreutils contact: &lt;https://www.gnu.cat/contact&gt;
       Git repository &lt;https://gitlab.com/gnucat/gnucat&gt;

<b>COPYRIGHT</b>
       Copyright © 2021 Jaume Fuster i Claris           License  AGPLv3+:  GNU
       AGPL version 3 or later &lt;https://gnu.org/licenses/agpl.html&gt;.
       This  is  free  software:  you  are free to change and redistribute it.
       There is NO WARRANTY, to the extent permitted by law.

GNUCAT coreutils 1.00                July 2021                         TEXT(3)
</pre>

<h3>Example Scripts</h3>

<pre></pre>
