@import "theme.css";
@import "fonts.css";


body {
	background: var(--color-background-low);
	font-family: Walleye;
	margin: 6rem;
}

main {
	border: 1px solid var(--color-dark);
	background: var(--color-background);
	max-width: 1300px;
	overflow: hidden;
	padding: 3rem;
}

main img#gnucat {
	shape-outside: polygon(0 0, 100% 0, 100% 75%, 75% 100%, 0 100%);
	max-width: 100%;
	margin: 2rem;
	width: 20rem;
	float: left;
}

main a, footer a {
	background-image: linear-gradient(var(--color-accent), var(--color-accent));
	transition: .4s background-size;
	background-repeat: no-repeat;
	color: var(--color-dark);
	background-position: bottom;
	background-size: 100% 15%;
	text-decoration: none;
}
main a:hover, footer a:hover {
	background-size: 100% 100%;
}

h2, h3, h4 {
	background: var(--color-accent-high);
	display: inline-block;
	white-space: nowrap;
	padding: 0 1em;
	margin: 0;
}

p:last-child, pre:last-child {
	margin-bottom: 0;
}

section:not(:first-child) {
	margin-top: 2rem;
}

#notebook {
	float: right;
}
.note {
	background-color: var(--color-background-high);
	border: 1px solid var(--color-dark);
	margin: 0 0 1rem 1rem;
	padding: 1rem;
	width: 20rem;
	clear: left;
}
.note pre {
	white-space: pre-wrap;
}

main pre {
	border-left: 1px solid var(--color-dark);
	font-family: monospace;
	margin-left: 1rem;
	font-size: 10px;
	padding: 1rem;
}

table {
	outline: 1px solid var(--color-dark);
	border-collapse: collapse;
	margin: 1rem;
}
.note > table {
	margin: 1rem 0 0 0;
	width: 100%;
}
td, th {
	border: 2px solid var(--color-accent-high);
	padding: .5rem 1rem;
}
th {
	background-color: var(--color-accent-high);
	text-align: left;
}
tr:nth-child(even) {
	background-color: var(--color-accent-low);
}

blockquote {
	font-style: italic;
	position: relative;
}
blockquote:before {
	position: absolute;
	content: "❛";
	font-size: 3em;
	opacity: .4;
	left: -.5em;
	top: -.3em;
}

hr {
	border: 2px dashed var(--color-dark);
	max-width: 10rem;
	margin: 1rem;
}

fieldset {
	background-color: #C0C0C0;
}
fieldset > * + * + * {
	margin-top: .4rem;
}
label {
	display: block;
}
fieldset textarea {
	min-height: 6rem;
	resize: vertical;
}
fieldset textarea,
fieldset input[type=text],
input[type=email],
fieldset input[type=password] {
	box-sizing: border-box;
	padding: .2rem;
	width: 100%;
}
input[type=submit] {
	margin-top: 1rem;
	float: right;
}
input[type=submit], label.file {
	box-shadow: inset 1px 1px 0 #DFDFDF, inset -1px -1px #808080;
	font-family: Terminus, monospace;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	border-left: 1px solid white;
	border-top: 1px solid white;
	display: inline-block;
	background: #C0C0C0;
	position: relative;
	user-select: none;
	padding: .2em 1em;
	line-height: 1em;
	font-size: 1rem;
	cursor: pointer;
}
input[type=submit]:first-letter, label.file:first-letter {
	text-decoration: underline;
}
input[type=submit]:active,
label.file:active,
textarea,
input[type=text],
input[type=email],
input[type=password],
input[type=date],
label.checkbox:before {
	box-shadow: inset 1px 1px 0 #808080, inset -1px -1px #DFDFDF;
	border-bottom: 1px solid white;
	border-right: 1px solid white;
	border-left: 1px solid black;
	border-top: 1px solid black;
}
input[type=submit]:focus, label.file:active {
	outline: 1px dotted black;
	outline-offset: -5px;
}
label.file > input[type="file"] {
	display: none;
}
input[type=checkbox] {
    display: none;
}
label.checkbox {
	user-select: none;
}
label.checkbox:before {
	background-repeat: no-repeat;
	background-position: center;
	background-color: white;
	vertical-align: middle;
	display: inline-block;
	background-size: 9px;
	height: 12px;
	content: "";
	width: 12px;
}
label.checkbox.checked:before {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAABmJLR0QA/wD/AP+gvaeTAAAAPUlEQVQY043QQQoAMAgDwcT//3l7ahErtt5iBgQN6DUxlbYZ0QYH5UWXoxYZAL7OdeCgvOhy1KICSfLPnxanxR8NmHHb3QAAAABJRU5ErkJggg==");
}

code {
	background-color: var(--color-accent);
	border: 1px solid var(--color-dark);
	border-radius: .2em;
	white-space: nowrap;
	user-select: all;
	padding: 0 .2em;
}

img#turing {
	border: 1px solid black;
}
