header {
	font-family: Walleye, sans-serif;
	color: var(--color-dark);
	pointer-events: none;
	user-select: none;
	top: 0; left: 0;
	position: fixed;
	filter: drop-shadow(1px 1px 0 var(--color-dark))
			drop-shadow(0px -1px 0 var(--color-dark));
}

header > h1, header > nav > a:last-child {
	border-bottom-right-radius: 5px;
}

header > h1 {
	background-color: var(--color-accent);
	padding: .5rem 2rem;
	font-size: 1.5rem;
	margin: 0;
}

header > h1 > small {
	font-size: 1rem;
}

header > nav > a {
	transition: .4s width, .4s background;
	background: var(--color-accent);
	font-family: monospace;
	text-decoration: none;
	pointer-events: all;
	white-space: nowrap;
	padding: .6rem 1rem;
	overflow: hidden;
	display: block;
	color: black;
	width: 1em;
}
header > nav > a:hover {
	background: var(--color-accent-high);
	width: 75%;
}
header > nav > a > img {
	image-rendering: optimizeSpeed;
	border: 1px solid black;
	vertical-align: middle;
	margin-right: 1.1em;
	width: 1rem;
}

div#deadpixeltroll {
	width: 1px; height: 1px;
	background-color: black;
	position: fixed;
	right: 13.37rem;
	top: 6.66rem;
}
