:root {

	--color-accent-high: #FA0;
	--color-accent: #FFBF40;
	--color-accent-low: #FFD47F;

	--color-dark: #320;
	--color-light: #ccc;

	--color-background-high: #FED;
	--color-background: #FFDDB4;
	--color-background-low: #C4A082;

}
